.cart_item-info img{
 width: 35px;
 height: 35px;
 object-fit: cover;
}
.cart_product-title{
    font-size: 11.2px;
    font-weight: 600;
}
.cart_product-price {
    font-size: 12.8px;
  }
  .cart_product-price span {
    font-size: 0.9rem;
    font-weight: 600;
    color: #df2020;
  }
  .increase_decrease-btn{
background: #fde4e4;
  padding: 2px 5px;
  border-radius: 5px;
  }
  .increase-btn, .decrease-btn{
  cursor: pointer;
}
.delete_btn{
    font-size: 17.6px;
  font-weight: 600;
}
.cart_item{
  margin-bottom: 15px;
  border-bottom: 1px solid #fde4e4;
}










